<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/metismenu.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<%- include('../partials/head') %>
		<!-- End Navbar Area -->

		<!-- Start Page title Area -->
		<div class="page-title-area ptb-100">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-4">
						<div class="page-title-content">
							<h2>Sign up</h2>
						</div>
					</div>

					<div class="col-lg-6 col-md-8">
						<div class="page-title-list">
							<ul>
								<li>
									<a href="index.html">Home</a>
								</li>
								<li class="active">
									Sign up
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Page title Area -->

		<div class="sign-up-area ptb-100">
			<div class="container">
				<form class="user-form" method="post" action="/api/v1/auth/signup" enctype="multipart/form-data">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Name</label>
								<input class="form-control" type="text" name="name" required>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" type="email" name="email" required>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label>Password</label>
								<input class="form-control" type="password" name="password" required>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label>Register No.</label>
								<input class="form-control" type="text" name="registerNo" required>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label>Sem</label>
								<input class="form-control" type="text" name="sem" required>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label>Course</label>
								<input class="form-control" type="text" name="course" required>
							</div>
						</div>


						<div class="form-group">
							<div class="file-upload-account-info">
								<!-- <input type="file" name="coverImage" id="file-2" class="inputfile"> -->
								<input type="file" name="profilePicture" class="form-control" id="coverImage">
								<label class="upload">
									<i class="ri-link"></i>
									Upload Profile Picture
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="file-upload-account-info">
								<!-- <input type="file" name="coverImage" id="file-2" class="inputfile"> -->
								<input type="file" name="idCard" class="form-control" id="coverImage">
								<label class="upload">
									<i class="ri-link"></i>
									Upload ID Card
								</label>
							</div>
						</div>


						<div class="col-12">
							<div class="login-action">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
										I agree to the <a href="terms-conditions.html">Terms of Use</a> and <a href="privacy-policy.html">Privacy Policy</a>
									</label>
								</div>
							</div>
						</div>

						<div class="col-12">
							<button class="default-btn" type="submit">
								Sign up
							</button>
						</div>

						<div class="col-12">
							<p class="create">Already on Web Academia?  <a href="/api/v1/auth/login">Log in</a></p>  
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Start Footer Area -->
		<div class="footer-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<a href="/api/v1/">
								<img src="/assets/images/logo.png" alt="Image">
							</a>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.</p>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two ml-15">
							<h3>Pages</h3>

							<ul class="import-link">
								<li>
									<a href="/api/v1/">Home</a>
								</li>
								<li>
									<a href="/api/v1/about">About Us</a>
								</li>
								<li>
									<a href="/api/v1/contact">Contact Us</a>
								</li>
								<li>
									<a href="/api/v1/articles">Articles</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Explore</h3>

							<ul class="import-link">
								<li>
									<a href="/api/v1/questions/add">Ask question</a>
								</li>
								<li>
									<a href="/api/v1/faq">FAQs</a>
								</li>
								<li>
									<a href="/api/v1/privacypolicy">Privacy policy</a>
								</li>
								<li>
									<a href="/api/v1/termsandconditions">Terms & Conditions</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Follow us</h3>

							<ul class="import-link">
								<li>
									<a href="#" target="_blank">Facebook</a>
								</li>
								<li>
									<a href="#" target="_blank">Instagram</a>
								</li>
								<li>
									<a href="#" target="_blank">Linkedin</a>
								</li>
								<li>
									<a href="#" target="_blank">Twitter</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Contact Us</h3>

							<ul class="address-link">
								<li>
									<span>Call:</span>
									<a href="#">+91 7899877899</a>
								</li>
								<li>
									<span>Email:</span>
									<a href="mailto:thewebacademia@gmail.com">thewebacademia@gmail.com</a>
								</li>
								<li>
									<span>Address:</span>
									#33/2C & 2D, Kempapura Main Rd, Hebbal Kempapura, Bengaluru, Karnataka 560024
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/meanmenu.min.js"></script>
		<script src="/assets/js/owl.carousel.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/metismenu.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/like-dislike.min.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>