<div class="right-siderbar-common">
    <div class="answer-count">
        <ul class="d-flex flex-wrap">
            <li>
                <span>Questions</span>
                <span class="count"><%= count.totalQuestions %></span>
            </li>
            <li>
                <span>Answers</span>
                <span class="count"><%= count.totalAnswers %></span>
            </li>
            <li>
                <span>Users</span>
                <span class="count"><%= count.totalUsers %></span>
            </li>
            <li>
                <span>Articles</span>
                <span class="count"><%= count.totalArticles %></span>
            </li>
        </ul>
    </div>
</div>