<div class="navbar-area">
    <div class="mobile-responsive-nav">
        <div class="container">
            <div class="mobile-responsive-menu">
                <div class="logo">
                    <a href="/api/v1/">
                        <img src="/assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="desktop-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/api/v1/">
                    <img src="/assets/images/logo.png" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="/api/v1/" class="nav-link active">
                                Home 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/api/v1/about" class="nav-link">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/api/v1/articles" class="nav-link">
                                Articles            
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/api/v1/contact" class="nav-link">Contact Us</a>
                        </li>

                    </ul>

                    <div class="others-options">
                        <ul>
                            <% if(user === undefined) { %>
                            <li>
                                <a href="/api/v1/auth/login" class="active">
                                    Log in	
                                </a>
                            </li>
                            <% } else { %>
                            <li>
                                <div class="dropdown" style="background-color: transparent;">
                                    <button type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent;">
                                        <img src="<%= user.profilePicture.secure_url %>" alt="Image" style="border-radius: 50%; width: 48px; height: 48px;">
                                        <span style="color: aliceblue;"><%= user.name %></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li>
                                            <a href="/api/v1/auth/<%= user._id %>">
                                                <i class="ri-user-line"></i>
                                                User profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/api/v1/auth/<%= user._id %>/edit">
                                                <i class="ri-settings-2-line"></i>
                                                Edit Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/api/v1/auth/logout">
                                                <i class="ri-logout-box-r-line"></i>
                                                Log out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <% } %>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="option-inner">
                    <div class="others-options justify-content-center d-flex align-items-center">
                        <ul>
                            <li>
                                <a href="/api/v1/auth/login" data-bs-toggle="modal" data-bs-target="#exampleModal-3" class="active">
                                    Log in	
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->