<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<%- include('../partials/head') %>
		<!-- End Navbar Area -->

		<!-- Start About Banner Area -->
		<div class="about-banner-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="about-banner-content">
							<span class="top-title">Who we are</span>
							<h2>Our job is to empower the world through the development of technology through combined knowledge.</h2>
							<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec sollicitudin molestie malesuada pretium ut lacinia in, elementum id enim. Curabitur aliquet quam id dui posuere blandit. Vivamus magna.</p>
							<p>Nulla porttitor accumsan tincidunt. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="about-banner-img">
							<img src="/assets/images/banner-img.png" alt="Image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End About Banner Area -->

		<!-- Start team Area -->
		<div class="team-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Our leadership team</h2>
				</div>

				<div class="row justify-content-center">
					<div class="col-xl-3 col-md-6">
						<div class="single-team-item">
							<img src="/assets/images/team/team-3.jpg" alt="Image">
							<h3>Anamay Singh</h3>
							<span>Front-end Creator</span>
							<ul class="d-flex justify-content-between align-items-center">
								<li>
									<a href="#" target="_blank">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-twitter-line"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-linkedin-fill"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-instagram-line"></i>
									</a>
								</li>

								<li>
									<button class="default-btn">Follow</button>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-xl-3 col-md-6">
						<div class="single-team-item">
							<img src="/assets/images/team/team-4.jpg" alt="Image">
							<h3>Shubham Saurav</h3>
							<span>Back-end Creator</span>
							<ul class="d-flex justify-content-between align-items-center">
								<li>
									<a href="#" target="_blank">
										<i class="ri-facebook-fill"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-twitter-line"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-linkedin-fill"></i>
									</a>
									<a href="#" target="_blank">
										<i class="ri-instagram-line"></i>
									</a>
								</li>

								<li>
									<button class="default-btn">Follow</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End team Area -->

		<!-- Start Footer Area -->
		<%- include('../partials/footer') %>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>