<!doctype html>
<html lang="zxx">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Links Of CSS File -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/flaticon.css">
		<link rel="stylesheet" href="/assets/css/remixicon.css">
		<link rel="stylesheet" href="/assets/css/animate.min.css">
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/editor.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
		<!-- Title -->
		<title>The Web Academia</title>
    </head>

    <body>
		<!-- Start Preloader Area -->
		<div class="preloader" id="loader-style">
			<div class="preloader-wrap">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<!-- End Preloader Area -->
		
		<!-- Start Navbar Area --> 
		<div class="navbar-area">
			<div class="mobile-responsive-nav">
				<div class="container">
					<div class="mobile-responsive-menu">
						<div class="logo">
							<a href="/api/v1/">
								<img src="/assets/images/logo.png" alt="logo">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="desktop-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="/api/v1/">
							<img src="/assets/images/logo.png" alt="logo">
						</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="/api/v1/" class="nav-link active">
										Home 
									</a>
								</li>
								<li class="nav-item">
									<a href="/api/v1/about" class="nav-link">
										About Us
									</a>
								</li>

								<li class="nav-item">
									<a href="/api/v1/articles" class="nav-link">
										Articles            
									</a>
								</li>

								<li class="nav-item">
									<a href="/api/v1/contact" class="nav-link">Contact Us</a>
								</li>

							</ul>

							<div class="others-options">
								<ul>
									<li>
										<a href="log-in.html" data-bs-toggle="modal" data-bs-target="#exampleModal" class="active">
											Log in	
										</a>
									</li>
									<li>
										<a href="sign-up.html" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
											Sign up
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="others-option-for-responsive">
				<div class="container">
					<div class="dot-menu">
						<div class="inner">
							<div class="circle circle-one"></div>
							<div class="circle circle-two"></div>
							<div class="circle circle-three"></div>
						</div>
					</div>
					
					<div class="container">
						<div class="option-inner">
							<div class="others-options justify-content-center d-flex align-items-center">
								<ul>
									<li>
										<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-3" class="active">
											Log in	
										</a>
									</li>
									<li>
										<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
											Sign up
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Banner Area -->
		<div class="banner-area">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="banner-content">
							<h1>The Web Academia</h1>
							<h3>Share & grow the world's <span>knowledge</span>!</h3>
							<p>We connect people that are keen to share their knowledge.</p>
							<a href="#" class="default-btn">
								Know More
							</a>
						</div>
					</div>

					<div class="col-lg-6 pe-0">
						<div class="banner-img">
							<img src="/assets/images/Presidency_logo.svg.png" alt="Image">
							<img src="/assets/images/banner/shape-1.png" alt="Image" class="shape shape-1">
							<img src="/assets/images/banner/shape-2.png" alt="Image" class="shape shape-2">
							<img src="/assets/images/banner/shape-3.png" alt="Image" class="shape shape-3">
							<img src="/assets/images/banner/shape-4.png" alt="Image" class="shape shape-4">
							<img src="/assets/images/banner/shape-5.png" alt="Image" class="shape shape-5">
							<img src="/assets/images/banner/shape-6.png" alt="Image" class="shape shape-6">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Banner Area -->

		<!-- Start Main Content Area -->
		<div class="main-content-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="middull-content">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="recent-questions" role="tabpanel" aria-labelledby="recent-questions-tab">
									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>

									<div class="single-qa-box like-dislike">
										<div class="d-flex">
											<div class="link-unlike flex-shrink-0">
												<a href="#">
													<img src="/assets/images/user/user-1.jpg" alt="Image">
												</a>
											</div>

											<div class="flex-grow-1 ms-3">
												<ul class="graphic-design">
													<li>
														<a href="#">Anamay Singh</a>
													</li>
													<li>
														<span>Latest Answer: 14 hours ago</span>
													</li>
													<li>
														<span>In:</span>
														<a href="#" class="graphic">
															Department_Name
														</a>
													</li>
												</ul>

												<h3>
													<a href="queations-details.html">
														If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
													</a>
												</h3>

												<p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus rutrum congue leo eget malesuada tincidunt.</p>

												<ul class="tag-list">
													<li>
														<a href="#">Subject_Name</a>
													</li>
												</ul>

												<div class="d-flex justify-content-between align-items-center">
													<ul class="anser-list">
														<li>
															<a href="#">
																2 Answers
															</a>
														</li>
													</ul>

													<a href="#" class="default-btn">
														Answer
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="right-siderbar">
							<div class="right-siderbar-common">
								<a href="#" class="default-btn">
									Ask a question
								</a>
							</div>

							<div class="right-siderbar-common">
								<a href="publish-blogpost.html" class="default-btn">
									Publish a blog post
								</a>
							</div>

							<div class="right-siderbar-common">
								<div class="answer-count">
									<ul class="d-flex flex-wrap">
										<li>
											<span>Questions</span>
											<span class="count">435</span>
										</li>
										<li>
											<span>Answers</span>
											<span class="count">435</span>
										</li>
										<li>
											<span>Best answers</span>
											<span class="count">324</span>
										</li>
										<li>
											<span>Users</span>
											<span class="count">2K</span>
										</li>
										<li>
											<span>Posts</span>
											<span class="count">852</span>
										</li>
										<li>
											<span>Comments</span>
											<span class="count">57</span>
										</li>
									</ul>
								</div>
							</div>

							<div class="right-siderbar-common">
								<div class="recent-post">
									<h3>
										<i class="ri-discuss-line"></i>
										Recent post
									</h3>

									<ul>
										<li>
											<a href="most-answered.html">
												What could be UX design software?
											</a>
											<p>8 hours ago by <a href="user.html">Alan Woodson</a></p>
										</li>
										<li>
											<a href="most-answered.html">
												All the new features that have been used in Windows 11
											</a>
											<p>11 hours ago by <a href="user.html">Juan McPhail</a></p>
										</li>
										<li>
											<a href="most-answered.html">
												What is the most important thing in learning design?
											</a>
											<p>11 hours ago by <a href="user.html">Vickie White</a></p>
										</li>
										<li>
											<a href="most-answered.html">
												Which language is the most popular in the web right now?
											</a>
											<p>13 hours ago by <a href="user.html">Jose Merz</a></p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Mail Content Area -->

		<!-- Start Footer Area -->
		<div class="footer-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<a href="index.html">
								<img src="/assets/images/logo.png" alt="Image">
							</a>

							<p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus.</p>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two ml-15">
							<h3>Project</h3>

							<ul class="import-link">
								<li>
									<a href="index.html">Home</a>
								</li>
								<li>
									<a href="about.html">About Us</a>
								</li>
								<li>
									<a href="contact-us.html">Contact Us</a>
								</li>
								<li>
									<a href="blog.html">Blog</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Explore</h3>

							<ul class="import-link">
								<li>
									<a href="#">Ask question</a>
								</li>
								<li>
									<a href="#">FAQs</a>
								</li>
								<li>
									<a href="#">Privacy policy</a>
								</li>
								<li>
									<a href="#">Terms & Conditions</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-2 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Follow us</h3>

							<ul class="import-link">
								<li>
									<a href="#" target="_blank">Facebook</a>
								</li>
								<li>
									<a href="#" target="_blank">Instagram</a>
								</li>
								<li>
									<a href="#" target="_blank">Linkedin</a>
								</li>
								<li>
									<a href="#" target="_blank">Twitter</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6">
						<div class="single-footer-widget style-two">
							<h3>Contact Us</h3>

							<ul class="address-link">
								<li>
									<span>Call:</span>
									<a href="#">+91 7899877899</a>
								</li>
								<li>
									<span>Email:</span>
									<a href="mailto:thewebacademia@gmail.com">thewebacademia@gmail.com</a>
								</li>
								<li>
									<span>Address:</span>
									#33/2C & 2D, Kempapura Main Rd, Hebbal Kempapura, Bengaluru, Karnataka 560024
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->

        <!-- Links of JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/js/form-validator.min.js"></script>
		<script src="/assets/js/contact-form-script.js"></script>
		<script src="/assets/js/ajaxchimp.min.js"></script>
		<script src="/assets/js/editor.js"></script>
		<script src="/assets/js/custom.js"></script>
    </body>
</html>